.left-arrow, .right-arrow{
    display: none;
}
header{
    grid-template-columns: 80%;
    justify-content: center
}
.movie-container{
    margin: 5%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.movie-container > div {
    margin: 5%;
}
.movie-container p{
    font-size: 1.2  vmax;
}
#genre > p{
    margin-right: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2% 3% 2% 3%;
    display: inline;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
}
.poster {
    width: 100%;
    max-width: 400px; /* Adjust the max-width to fit your design */
  }
  
  .poster img {
    width: 100%;
    height: auto;
  }
  
.poster > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}  
#desc{
    border-bottom: 1px solid white;
}
.dtls{
    display: flex;
    flex-direction: row;
}
.dtls > p{
    margin-right: 10px;
}
.score{
    display: flex;
    flex-direction: row;
    align-items: center
}
.imdb-rating{
    color: rgba(174, 150, 150, 1);
}
#imdb, #tit{
    font-size: 25px;
}
.time-table{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
}
.branch-name{
    border: 1px solid rgb(174, 174, 174);
}
.branch-name > h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-left: 2%;
    font-size: 20px;
    color: #ec7532;
}
.schedule , .hall{
    padding-left: 5%;
}
.hall{
    border: 1px solid rgb(174, 174, 174);
}
.hall p{
    font-family: Baloo;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.hall span{
    color: #848484;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
 }
.schedule{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(174, 174, 174);
}
.schedule p {
    cursor: pointer;
    background-color: #ec7532;
    font-size: 1em;
    border: 1px solid #ec7532;
    padding: 2%;
    margin: 2%;
    border-radius: 30px;
}
.days{
    white-space: nowrap;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.days > div {
    border: 1px solid rgb(174, 174, 174);
    text-align: center;
    cursor: pointer;
    padding: 15% 10% 15% 10%;
}
.days p{
    margin: 0;
}
@media only screen and (max-width:1150px)  {
    .time-table{
        display: flex;
        flex-direction: column;
    }
    .time-table p{
        font-size: 13px;
    }
    .movie-container{
        grid-template-columns: auto auto;

    }
    .movie-container p{
        font-size: 13px;
    }
    .imdb{
        display: none;
    }
}


