@import url("https://fonts.googleapis.com/css?family=Ubuntu");

@font-face {
  font-family: raleway;
  src: url(/raleway/static/Raleway-Medium.ttf);
}
::-webkit-scrollbar {
  width: 1px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #ec7532;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.yellowh1 {
  display: inline;
  border-bottom: 10px solid #ec7532;
}
.yellowp {
  color: #ec7532;
}
.explicit-size{
  object-fit: cover;
}
p {
  font-size: 18px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 10);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  color: white;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  white-space: nowrap;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
  display: inline-block;
}
header {
  min-height: 600px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  transition: background-image 0.5s ease-in-out;
}
h1 {
  margin: 0.67em 0;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: white;
}
.movie-name {
  font-weight: bold;
}
.info {
  height: 200px;
}
.nicebackround {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.main {
  margin-top: 200px;
  display: grid;
  align-content: space-around;
}
.button {
  padding: 15px;
  text-decoration: none;
  background-color: #ec7532;
  color: white;
  font-size: 13px;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 30px;
}
.button img {
  vertical-align: middle;
}
.rating {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 50px;
  color: white;
  font-size: 13px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navcontainer {
  padding-top: 1%;
  z-index: 999;
  display: grid;
  grid-template-columns: 80%;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-around;
}
.fixed-nav {
  padding: 0;
  background-color: #101010;
  position: fixed;
  border-radius: 5px;
}
.fixed-nav ul {
  border-bottom: 0;
}
.fixed-nav a {
  font-size: 12px;
  font-weight: normal;
  line-height: 0.8em;
  display: inline-block;
  letter-spacing: 1px;
}
.fixed-nav {
  grid-template-columns: 90%;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
li {
  padding-left: 12px;
  padding-right: 12px;
  display: inline;
}
ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid rgb(176, 176, 176);
}
ul > li > a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #ec7532;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li > a:hover:after {
  width: 100%;
  left: 0;
}
#nav-check {
  display: none;
}
.right-arrow {
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
}
.left-arrow {
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
}
.indicator-container {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}
.indicator {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}
.current {
  background-color: #ffffff;
  color: white;
}
.ticket {
  display: grid;
  grid-template-columns: 90%;
  justify-content: space-evenly;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-right: 2em;
}
.active {
  display: grid;
  grid-template-columns: 40% 60%;
}

.mapping {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.mapping1 {
  margin: auto;
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.owl {
  display: grid;
  grid-template-columns: 2% 95% 3%;
  background-color: #000000;
}
@media only screen and (max-width: 1209px) {
  h1 {
    font-size: 20px;
  }
  ul {
    border-bottom: none;
  }
  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  ul {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #00000098;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    text-align: center;
  }
  nav > ul > li {
    display: block;
    width: 100%;
    padding-top: 15px;
  }
  #nav-check:not(:checked) ~ ul {
    height: 0px;
  }
  #nav-check:checked ~ ul {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
@media (max-width: 950px) {
  .item {
    padding-left: 10px;
  }
  .active {
    display: flex;
    flex-direction: column;
  }
  .current-container {
    margin-top: 5%;
    max-height: 200px;
  }
  .details {
    align-items: center;
    margin-right: 0;
  }
  .description {
    text-align: center;
  }
}

.item {
  position: relative;
  cursor: pointer;
  margin: 10px;
}
.imgitem {
  object-fit: cover;
  width: 175px;
  height: 250px;
}
.overlay { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.585); 
}

.overlay:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
#owldesc {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
.current-container {
  max-width: 800px;
  height: 400px;
}
#current-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.selected {
  display: none;
}
.parallax {
  padding: 5% 10% 5% 10%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.parallax h1,
.parallax p {
  margin: 0;
}
.parallax * {
  width: 100%;
}
lord-icon {
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0;
}
.footer-container {
  background-color: rgb(20, 20, 20);
  display: grid;
  place-items: center;
}
.footer-container > .logo {
  margin-top: 2%;
}
.contact-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}
.contact {
  display: grid;
  justify-items: center;
  align-items: center;
}
.contact > p {
  height: 5rem;
  text-align: center;
}
.contact > img {
  height: 70%;
}
.copyright {
  text-align: center;
  opacity: 0.5;
}
footer * {
  font-size: 0.9em;
}
